@font-face {
  font-family: 'billat';
  src: url('../fonts/billat.eot?52078767');
  src: url('../fonts/billat.eot?52078767#iefix') format('embedded-opentype'),
       url('../fonts/billat.woff2?52078767') format('woff2'),
       url('../fonts/billat.woff?52078767') format('woff'),
       url('../fonts/billat.ttf?52078767') format('truetype'),
       url('../fonts/billat.svg?52078767#billat') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'billat';
    src: url('../font/billat.svg?52078767#billat') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "billat";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrow_down:before { content: '\e800'; } /* '' */
.icon-arrow_left_01:before { content: '\e801'; } /* '' */
.icon-arrow_left_02:before { content: '\e802'; } /* '' */
.icon-arrow_left:before { content: '\e803'; } /* '' */
.icon-arrow_right_01:before { content: '\e804'; } /* '' */
.icon-arrow_right_02:before { content: '\e805'; } /* '' */
.icon-arrow_right:before { content: '\e806'; } /* '' */
.icon-arrow_up:before { content: '\e807'; } /* '' */
.icon-cart:before { content: '\e808'; } /* '' */
.icon-close:before { content: '\e809'; } /* '' */
.icon-crane:before { content: '\e80a'; } /* '' */
.icon-dribble:before { content: '\e80b'; } /* '' */
.icon-drop_down:before { content: '\e80c'; } /* '' */
.icon-edit:before { content: '\e80d'; } /* '' */
.icon-email:before { content: '\e80e'; } /* '' */
.icon-facebook:before { content: '\e80f'; } /* '' */
.icon-house:before { content: '\e810'; } /* '' */
.icon-linkedin:before { content: '\e811'; } /* '' */
.icon-load:before { content: '\e812'; } /* '' */
.icon-phone:before { content: '\e813'; } /* '' */
.icon-pin:before { content: '\e814'; } /* '' */
.icon-pinterest:before { content: '\e815'; } /* '' */
.icon-planes:before { content: '\e816'; } /* '' */
.icon-play:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-program:before { content: '\e819'; } /* '' */
.icon-quote_01:before { content: '\e81a'; } /* '' */
.icon-quote:before { content: '\e81b'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */
.icon-sign:before { content: '\e81d'; } /* '' */
.icon-skype:before { content: '\e81e'; } /* '' */
.icon-sofa:before { content: '\e81f'; } /* '' */
.icon-star:before { content: '\e820'; } /* '' */
.icon-tree:before { content: '\e821'; } /* '' */
.icon-twitter:before { content: '\e822'; } /* '' */